#gallery-catbreed {
  display: flex;
}

h1 {
  margin-top: 16px;
  margin-bottom: 20px;
}

.regenerate-images {
  width: 7rem;
  height: 3rem;
  font-size: 17px;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  background-color: rgb(234, 234, 116);
}

.regenerate-images:hover {
  background-color: rgb(255, 238, 0);
  font-weight: 600;
}

.gallery-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin-left: 40px;
}

.search-by-breed-section {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-group {
  margin-left: 70%;
}

.cat-breed-img {
  margin-top: 10px;
  width: 60%;
  border-radius: 10px;
}

.breed-description {
  font-size: 1.11rem;
  padding: 20px;
}
p {
  margin: 2px;
}
span {
  font-weight: 600;
}

.breed-data {
  padding: 40px;
  display: flex;
  justify-content: center;
}
